<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Albums Page</title>
    <link rel="stylesheet" href="/album.css">
</head>
<body>
<h1> Albums </h1>
<section class="cards" >
    <fieldset>
<!--    <div class="card1">-->
<!--        <h2 th:text="${title1}"></h2>-->
<!--        <img th:src="${imgUrl1}">-->
<!--        <h3 th:text="${artist1}"></h3>-->
<!--        <p th:text="${songNumber1}"></p>-->
<!--        <p th:text="${length1}"></p>-->
<!--    </div>-->
<!--    <div class="card2">-->
<!--        <h2 th:text="${title2}"></h2>-->
<!--        <img th:src="${imgUrl2}">-->
<!--        <h3 th:text="${artist2}"></h3>-->
<!--        <p th:text="${songNumber2}"></p>-->
<!--        <p th:text="${length2}"></p>-->
<!--    </div>-->
<!--    <div class="card3">-->
<!--        <h2 th:text="${title3}"></h2>-->
<!--        <img th:src="${imgUrl3}">-->
<!--        <h3 th:text="${artist3}"></h3>-->
<!--        <p th:text="${songNumber3}"></p>-->
<!--        <p th:text="${length3}"></p>-->
<!--    </div>-->
        <div class="card3" th:each="album : ${albumTables}">
            <a th:href="@{/songs/{id}(id=${album.id})}">
            <h2 th:text="${album.title}"></h2>
            <img th:src="${album.imageUrl}">
            <h3 th:text="${album.artist}"></h3>
            <p th:text="${album.songCount} + ' songs'"></p>
            <p th:text="${album.length div 60} + ' minutes'"></p>
            </a>
        </div>


        </div>

    </fieldset>
    <fieldset>
        <div>
            <form action="/create-album" method="post">
                <legend>Add a new album</legend>
                <label for="title">Album Title</label>
                <input type="text" name="title" id="title">
                <label for="artist">Artist</label>
                <input type="text" name="artist" id="artist">
                <label for="songCount">Song Count</label>
                <input type="number" name="songCount" id="songCount">
                <label for="length">Length</label>
                <input type="number" name="length" id="length">
                <label for="imageUrl">Image URL</label>
                <input type="text" name="imageUrl" id="imageUrl">
                <input type="submit" value="Add album">
            </form>
        </div>
    </fieldset>

</section>
<!DOCTYPE html>

</body>
</html>